.homeBox {
  width: 1200px;
  border : 1px solid red;
  margin: 0;
  padding: 0;
  margin: auto;
  display: flex;
}

.catBoxs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catBox{
  margin: 10px;
  display: block!important;
}

