body {
  padding: O;
  margin: 0;
}

.pageBlock {
  width: 1200px;
  padding: 0;
  margin: auto;
  margin-top: 10px;
}

.catBoxs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.catBoxVote {
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}

.catBox{
  margin: 10px;
  display: block!important;
}

#searchBlock {
  width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}